body {
    /* Box Model */
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    max-width: 800px;
    overflow-x: hidden;

    /* Positioning */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    /* Typography */
    font-family: "Andale Mono", Arial, sans-serif;

    /* Visual */
    background-color: #ffeb9e;
}

main {
    overflow-x: hidden;
}

header {
    /* Visual */
    background-color: #ffda1a;
    color: #000000;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

footer {
    /* Typography */
    font-size: .75rem;

    /* Visual */
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

footer p {
    font-size: 0.75rem;
}

@media (max-width: 600px) {
    footer p {
        font-size: 0.65rem;
    }
}

body,
button,
label,
input {
    font-family: "Andale Mono", Arial, sans-serif;
}

button,
label,
input {
    font-size: 120%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

p.message {
    font-size: 120%;
}

form {
    /* Box Model */
    margin-bottom: .5rem;
}

@media (max-width: 600px) {
    form {
        padding: 0.5rem;
    }
}

img {
    /* Box Model */
    max-height: 278px;
    max-width: 185px;
    height: auto;
    width: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

footer a {
    text-decoration: underline dotted;
}

a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: underline;
}

.response {
    /* Box Model */
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;

    /* Visual */
    background: #ffeb9e;

    /* Positioning */
    display: flex;
    flex-flow: column nowrap;
}

.image-container {
    /* Box Model */
    width: 100%;
    padding: 1rem;
    max-width: 600px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: visible;

    /* Visual */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff7de;

    /* Positioning */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 601px) {
    .image-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {

    .response,
    .image-container {
        padding: 0.5rem;
    }
}

#actor-image,
#movie-image {
    /* Box Model */
    /* max-width: 45%; */
    border: 10px solid #ffda1a;
    border-radius: 5px;

    /* Visual */
    box-shadow: 10px 10px 8px #ffeb9e;
    transform-origin: center;
}

@media (max-width: 600px) {

    #actor-image,
    #movie-image {
        max-width: 90%;
    }
}

#actor-image {
    transform: rotate(-2deg);
}

#movie-image {
    transform: rotate(3deg);
}

input[type="number"] {
    /* Box Model */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;

    /* Visual */
    border: 2px solid #ffda1a;
}

.button {
    /* Box Model */
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;

    /* Visual */
    background-color: #ffda1a;
    color: #000;
    border: none;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #000;
}